---
import BaseLayout from "../layouts/BaseLayout.astro";
import flattenAttributes from "../utils/flattenAttributes";
import WidgetMap from "../components/WidgetMap.astro";
import HTMLBlock from "../components/HTMLBlock.astro";
import Banner from "../components/Banners/Type4.astro";
import BitrixForm from "../components/BitrixForm.astro";
import Discount from "../components/Banners/Discount.astro";


const response = await fetch(`${import.meta.env.HOST_API}/landing-pages?filters[slug]=contacts&populate[content][populate]=*`).then(x  => x.json());
const page = flattenAttributes(response.data[0]);
---

<BaseLayout>
    <!-- <code>
        {JSON.stringify(response.data)}
    </code> -->
    <div class="mpp-contacts">
        {
            page?.content?.map( block => 
                // <>
                //     {block.__component === "ui-slider.banner" && <Banner {...block} />}
                // </>
                <>
                    {block.__component === "ui-elements.i-frame" && <WidgetMap {...block} />}
                </>
                <>
                    {
                        block.__component === "html.html-block" && <HTMLBlock {...block} />
                    }
                </>
                <>
                    {
                        block.__component === "html.bitrix-form" && <BitrixForm {...block} />
                    }
                </>

                
            )
        }
    </div>
</BaseLayout>



<style lang="scss" is:global>
    .mpp-contacts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>