---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="mpp-manager-support">
        <h4>Менеджер поддержки</h4>
        <p>по любым вопросам проекта <br />МоиФотоСтраницы</p>
        <p><a href="tel:88007750861">8 (800) 775 08 61</a></p>
        <p><a href="mailto:support@myphotopages.ru">support@myphotopages.ru</a></p>
        <p>
            <img src="https://static.wow2print.com/storage/445/content/image/1232292191669f80ef001f83.30654897.svg" alt="">
            <a href="#">чат на сайте</a>
        </p>
    </div>
</BaseLayout>

<style>
    .mpp-manager-support {
        line-height: 1.5;
    }
    .mpp-manager-support, .mpp-manager-support h4 {
        font-size: .875rem;
    }
    .mpp-manager-support h4 {
        margin: 0 0 .5em;
    }
</style>