<div>
    <h3>Менеджер поддержки</h3>
    <p>по любым вопросам проекта МоиФотоСтраницы</p>
    <p><a href="tel:88007750861">8 (800) 775 08 61</a></p>
    <p><a href="mailto:support@myphotopages.ru"></a></p>
    <p><a href="#">чат на сайте</a></p>
</div>