---
const { title, price, bgColor } = Astro.props;
---


<div class="container">
    <div class:list={["mpp-disc-prom", {
        "mpp-disc-prom--orange": bgColor === "orange",
        "mpp-disc-prom--green": bgColor === "green",
        "mpp-disc-prom--violet": bgColor === "violet",
    }]} set:html=>
        <p set:html={title}></p>
        <p class="mpp-disc-prom__price">{price} ₽</p>
    </div>
</div>




<style lang="scss" is:global>
    .mpp-disc-prom {
        display: flex;
        flex-direction: column;
        gap: .25em;
        padding: 1.5rem;
        border-radius: 15px;
        @media (width > 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
</style>

<style is:global lang="scss">
    .mpp-disc-prom {
        & p, & strong {
            font-size: .875rem;
        }

        & p {
            font-weight: 500;
        }

        & strong {
            font-weight: 700;
        }
        & .mpp-disc-prom__price {
            font-weight: 700;
        }

        &--green {
            background-color: var(--lavandaColor);
        }
        &--violet {
            background-color: var(--lavandaColor);
        }
        &--orange {
            background-color: #f8714c66;
        }
    }
    

</style>