<div class="container">
    <div class:list={["mpp-disc-prom", {}]}>
        <p>Воспользуйтесь <strong>скидкой в 10% летом 2024</strong></p><p>Промокод <strong>ОТПУСК2024</strong></p>
    </div>
</div>




<style lang="scss">
    .mpp-disc-prom {
        background-color: #DEEFEA;
        padding: 1.5rem;
        border-radius: 15px;
    }
</style>

<style is:global lang="scss">
    .mpp-disc-prom {
        & p, & strong {
            font-size: .875rem;
        }

        & p {
            font-weight: 500;
        }

        & strong {
            font-weight: 700;
        }
    }

</style>