
<div class="container">
    <div class="mpp-banner-type-1">
        <h2>Легко, быстро, креативно</h2>
        <p>Не успеваешь найти подарок? Оформи сертификат и получи его в течение 5 минут!<br />Номиналы от 1000 ₽</p>
        <a href="btn btn-default" href="/produkciya/el-sertificat">Заказать</a>
    </div>
</div>
