---
const { banners } = Astro.props;
---

<section id="image-carousel" class="mpp-landing-page-slider-1 splide  container" aria-label="Beautiful Images">
    <div class="splide__track">
          <ul class="splide__list">
            {
                banners.map((banner, index) => 
                    <li class="mpp-landing-page-slider-1__slide  splide__slide">
                        <div class="mpp-landing-page-slider-1__shadow"></div>
                        <img class="mpp-landing-page-slider-1__image-desktop" data-src={banner.srcDesktop} alt="" />
                        <img class="mpp-landing-page-slider-1__image-mobile" data-src={banner.srcMobile} alt="" />
                        <div class="mpp-landing-page-slider-1__content">
                            {
                                index === 0 && <h1 set:html={banner.title}></h1>
                            }
                            {
                                index > 0 && <h2 set:html={banner.title}></h2>
                            }
                            <a class="btn btn-default" href="/produkciya/photobookc-200x240">Заказать</a>
                        </div>
                    </li>
                )
            }
          </ul>
    </div>
  </section>

<style lang="scss">
    .mpp-landing-page-slider-1 {
        & img {
            display: block;
            object-fit: cover;
            object-position: center right;
            min-height: 350px;
            &.mpp-landing-page-slider-1__image-desktop {
                @media (width < 768px) {
                    display: none;
                }
            }
            &.mpp-landing-page-slider-1__image-mobile {
                @media (width > 768px) {
                    display: none;
                }
            }
        }
        & :is(h1, h2) {
            color: var(--whiteColor);
            font-size: 1.5rem;
            font-weight: 700;
        }

        & :is(h1, h2) {
            font-size: clamp(0.875rem, 0.613rem + 1.117vw, 1.5rem);
            margin: 0 0 .9375rem;
        }

        & .btn {
            @media (width < 768px) {
                align-self: center;
                width: 250px;
                padding: 1.4em 0;
                border-radius: 2rem;
            }
        }
    }
    .mpp-landing-page-slider-1__slide {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }
    .mpp-landing-page-slider-1__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5rem;
        right: 5rem;
        @media (width < 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            left: 1rem;
            right: 1rem;
            top: 3rem;
            bottom: 3rem;
            transform: none;
        }
    }
    .mpp-landing-page-slider-1__shadow {
        @media (width < 768px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(217, 217, 217, 0) 0%, #737373 100%);
            mix-blend-mode: multiply;
            opacity: 0.8;
        }
    }

</style>

<script>
    const mainSliderDesktop = new Splide('.mpp-landing-page-slider-1', {
        type: 'fade',
        rewind: true,
        arrows: false,
        autoplay: true,
        interval: 4000,
        pauseOnHover: false,
        lazyLoad: 'nearby'
    }).mount();

    // const mainSliderMobile = new Splide('.mpp-main-slider-mobile', {
    //     type: 'fade',
    //     rewind: true,
    //     arrows: false,
    //     autoplay: true,
    //     interval: 4000,
    //     pauseOnHover: false,
    //     lazyLoad: 'nearby',
    //     mediaQuery: 'min',
    //     preloadPages: 1,
    //     breakpoints: {
    //         768: {
    //             destroy: true,
    //         },
    //     }
    // }).mount();
</script>
